[submodule "External/CMSIS_5"]
	path = External/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "External/cmsis_device_f7"]
	path = External/cmsis_device_f7
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
